header .navbar {
  background: linear-gradient(to bottom, #545454, #201e1e);
  max-width: 100%;
  margin: auto;
}
header .navbar #navbar {
  justify-content: flex-end;
}
header .navbar ul li {
  display: block;
  float: right;
  flex-direction: column;
  text-align: center center;
}
header .navbar ul li a {
  text-decoration: none;
  font-size: 1.35em;
  color: #fff;
  font-family: "abyssinica SIL", serif;
  padding: 30px;
}
header .navbar ul li a:hover {
  transform: scale 1.1;
  color: rgba(233, 185, 185, 0.384);
}

header #navbarNav {
  justify-content: flex-end;
}

header .logo img {
  height: 80px;
  float: left;
}
header .logo img:hover {
  transform: scale(1.1);
}

@media (min-width: 780px) {
  header .container {
    flex-direction: row;
    justify-content: space-between;
  }
  header nav {
    flex-direction: row;
    padding: 0px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Inicio PAgina Inicio */
body {
  margin: 0;
  background-color: #201e1e;
  color: #fff;
}
body h1 {
  font-size: 3.5em;
}
body h2 {
  font-size: 2.7em;
}
body h3 {
  font-size: 2em;
}
body p {
  font-size: 1.25;
}

body #hero {
  display: grid;
  grid-template-rows: 20vh 1fr;
  height: 90vh;
  color: #fff;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Nyc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
body #hero h2 {
  font-family: "Cutive Mono", monospace;
  font-size: 13vh;
  padding-top: 1vh;
  padding-left: 3vh;
}
body #hero span {
  display: block;
  animation: typing 4s steps(30), blink 0.5s infinite step-end alternate;
  white-space: nowrap;
  border-right: 1px solid;
  width: auto;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100vh;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
body #hero h3 {
  justify-self: end;
  align-self: flex-end;
  padding-bottom: 3vh;
  font-family: "abyssinica SIL", serif;
}

body #Nosotros {
  padding: 20px 12px;
}
body #Nosotros h2 {
  text-align: center;
  justify-content: center;
}
body #Nosotros .container {
  text-align: center;
  justify-content: end;
  padding: 20px 12px;
}

/* Fin de pagina inicio */
/* Inicio de mediaquery */
@media (min-width: 780px) {
  #Nosotros h2 {
    text-align: center;
  }
  #Nosotros .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;
  }
  #Nosotros .container .img-container-uno {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Molienda.jpeg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 900px;
  }
  #Nosotros .container .img-container-uno p {
    width: 50%;
    text-align: justify;
    padding: 0px 20px;
  }
  #Nosotros .container .img-container-dos {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Molino.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 900px;
  }
  #Nosotros .container .img-container-dos p {
    width: 50%;
    padding: 0px 20px;
    max-width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  main #productos #container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    max-width: 100%;
    margin: auto;
  }
}
/* Fin de mediaquery inicio */
/* Inicio  pagina de productos */
main #productos #container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 20px;
  max-width: 100%;
  margin: auto;
}
main #productos #container .btn {
  background-color: grey;
}
main #productos #container .card-uno {
  padding: 10px;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: #545454;
  color: #fff;
}
main #productos #container .card-uno .card-body {
  text-align: center;
}
main #productos #container .card-dos {
  padding: 10px;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: #545454;
  color: #fff;
  text-align: center;
}
main #productos #container .card-tres {
  padding: 10px;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: #545454;
  color: #fff;
  text-align: center;
}
main #productos #container .card-cuatro {
  padding: 10px;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: #545454;
  color: #fff;
  text-align: center;
}
main #productos #container .card-cinco {
  padding: 10px;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: #545454;
  color: #fff;
  text-align: center;
}
main #productos #container .card-seis {
  padding: 10px;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: #545454;
  color: #fff;
  text-align: center;
}

footer {
  background: linear-gradient(to bottom, #201e1e, #545454);
  max-width: 100%;
  margin: auto;
  color: #fff;
  font-family: "abyssinica SIL", serif;
}
footer #container-1 {
  width: 100%;
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer #container-1 .box h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer #container-1 .box figure img {
  width: 100px;
}
footer #container-1 .redes {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #container-1 .redes .facebook {
  padding: 10px;
}
footer #container-1 .redes .facebook img {
  height: 25px;
}
footer #container-1 .redes .facebook img:hover {
  transform: scale(1.1);
}
footer #container-1 .redes .instagram {
  padding: 10px;
}
footer #container-1 .redes .instagram img {
  height: 25px;
}
footer #container-1 .redes .instagram img:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
